*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: ui-monospace, "Roboto Mono", "Courier New", monospace;
  --fs: clamp(1rem, 0.5em + min(1.2vw, 1rem), 3rem);

  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 10%, 3.9%);
  --zinc: hsl(240, 5.9%, 90%);
  --blue: hsl(224.3, 76.3%, 48%);
  --red: hsl(0, 73.7%, 41.8%);
  --radius: 0.5em;
}

li {
  list-style: none;
  margin: 0.5em;
}

:any-link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  min-height: 100vh;
  background-color: var(--white);
}

button {
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

textarea {
  resize: none;
}
