.container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 65px);
}

.form {
  margin: 2em 0.5em;
  min-width: 310px;
  display: grid;
  align-items: center;
  padding: 0.8em 1rem;
  gap: 0.7rem;
  border: var(--light-gray) 3px solid;
  border-radius: var(--radius);
  height: fit-content;
}

.form h1 {
  max-width: 13ch;
  margin-inline: auto;
  margin-block: 0.5em;
  text-align: center;
}

.form p:last-child {
  font-size: 0.9em;
  text-align: center;

  & a {
    color: var(--blue);
    text-decoration: underline;
  }
}

.form button {
  margin: 1rem 0;
  padding: 0.6em 0;
  background-color: var(--soft-white);
  border-radius: var(--radius);
}

.form button:focus-visible,
.form button:active {
  background-color: var(--charcoal-gray);
  color: var(--soft-white);
}

@media (hover: hover) and (pointer: fine) {
  .form button:hover {
    background-color: var(--charcoal-gray);
    color: var(--soft-white);
  }
}

@media screen and (min-width: 26em) {
  .form {
    padding: 1rem 2rem;
    margin-block: 5em 0;
  }
}
