.form {
  display: grid;
  gap: 0.5em;
  padding: 0.5em;
  gap: 0.7rem;
  margin: 0 0.5em;
}

.label {
  font-size: 0.85em;
  display: grid;
}

.label > span {
  margin-bottom: 0.3em;
}

.label > textarea {
  min-width: clamp(16rem, 30vw + 5rem, 45rem);
  min-height: clamp(7.5rem, 30vh + 5rem, 20rem);
  padding: 0.3em;
}

.error {
  color: var(--coral);
  font-size: 0.8em;
  margin-top: 0.3em;
}

.container {
  display: grid;
  margin-top: 0.7em;
}

.container button {
  color: var(--charcoal-gray);
  background-color: var(--soft-white);
  padding: 0.5em;
  border-radius: var(--radius);
}

.container button:active,
.container button:focus-visible {
  color: var(--soft-white);
  background-color: var(--charcoal-gray);
}

@media (hover: hover) and (pointer: fine) {
  .container button:hover {
    color: var(--soft-white);
    background-color: var(--charcoal-gray);
  }
}
