.header {
  display: grid;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.header > form {
  display: grid;
  padding: 0.5em;
}

.header button {
  max-width: fit-content;
  justify-self: end;
  margin-right: 1rem;
  background-color: hsl(141.9, 69.2%, 58%);
  border-radius: var(--radius);
  padding: 0.2em 1rem;
}

.header button:active {
  background-color: hsl(142.4, 71.8%, 29.2%);
}

.textareaContainer {
  display: grid;
  padding: 0.5em;
}
.textareaContainer > textarea {
  min-height: 5em;
  padding: 0.7em;
}

.error {
  color: var(--red);
  font-size: 0.7em;
  margin: 0.4em 0;
}

.comment {
  display: grid;
}

.comment > p {
  font-size: 0.85em;
}

.comment > form {
  display: grid;
}

.btnContainer {
  display: grid;
  padding: 0.5em;
  gap: 0.5em;
  justify-self: end;
  max-width: fit-content;
  grid-auto-flow: column;
  transform: translateX(1rem);
}

.edit,
.update,
.delete,
.cancel {
  padding: 0.2em 0.7em;
  border-radius: var(--radius);
  font-size: 0.85em;
  background-color: var(--white);
}

.delete:active {
  background-color: var(--red);
  color: var(--white);
}

.cancel:active {
  background-color: hsl(240, 3.8%, 46.1%);
}

.update:active,
.edit:active {
  background-color: var(--black);
  color: hsl(0, 0%, 98%);
}

.list {
  display: grid;
  gap: 0.5em;
}

@media (hover: hover) and (pointer: fine) {
  .header button:hover {
    background-color: hsl(142.4, 71.8%, 29.2%);
  }

  .delete:hover {
    background-color: var(--red);
    color: var(--white);
  }

  .cancel:hover {
    background-color: hsl(240, 3.8%, 46.1%);
  }

  .update:hover,
  .edit:hover {
    background-color: var(--black);
    color: hsl(0, 0%, 98%);
  }
}
