.card {
  box-shadow: var(--light-gray) 0 0 0 2px;
  min-height: 7.5rem;
  display: flex;
  max-width: min(100%, 500px);

  & img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
}

.card:hover,
.card:active,
.card:focus-within {
  box-shadow: var(--charcoal-gray) 0 0 0 3px;
}

.title {
  font-size: 1.2em;
  margin-block: 0.7em;
  font-family: var(--ff-serif);
  font-weight: 500;
  text-align: center;
}

.content {
  font-size: 0.9em;
  margin-top: 0.3em;
  white-space: pre-line;
}

.link {
  flex: 1;
  padding: 1rem;
}
