.container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

.card {
  box-shadow: var(--light-gray) 0 0 0 2px;
  border-radius: var(--radius);
  min-height: 7.5rem;
  display: flex;
}

.card:hover,
.card:active,
.card:focus-within {
  box-shadow: var(--charcoal-gray) 0 0 0 3px;
}

.title {
  font-size: 1.2em;
  font-family: var(--ff-serif);
  font-weight: 500;
}

.content {
  font-size: 0.9em;
  margin-top: 0.3em;
  white-space: pre-line;
}

.link {
  flex: 1;
  padding: 1rem;
}

.noPosts {
  font-style: italic;
}

@media screen and (min-width: 36em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
