.container {
  display: flex;
  gap: 0.4em;
  justify-content: end;
  margin-right: 0.2em;
}
.navbar {
  padding: 0.4em;
  border-bottom: var(--charcoal-gray) 2px solid;
}

.listItem {
  display: flex;
}

.link {
  color: var(--navy-blue);
  font-family: var(--ff-serif);
  font-size: 1.25em;
  padding: 0.25em 0.4rem;
  white-space: nowrap;
}

.link:focus-visible,
.link:active {
  text-decoration: underline;
}

.button {
  background-color: var(--soft-white);
  border-radius: var(--radius);
  font-weight: 500;
  font-family: var(--ff-serif);
  font-size: 1.2em;
  padding: 0.25em 1rem;
}

.button:focus-visible,
.button:active {
  background-color: var(--charcoal-gray);
  color: var(--soft-white);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--charcoal-gray);
    color: var(--soft-white);
  }

  .link:hover {
    text-decoration: underline;
  }
}
