.container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
}

.form {
  margin: 0 0.5em;
  display: grid;
  align-items: center;
  padding: 0.8em 1em;
  gap: 0.7rem;
  border: var(--light-gray) 3px solid;
  border-radius: var(--radius);
}

.center {
  text-align: center;
}

p.center > a {
  color: var(--blue);
  text-decoration: underline;
}

p.center {
  font-size: 0.9em;
}

.button {
  margin: 1rem 0;
  padding: 0.6em 0;
  background-color: var(--soft-white);
  border-radius: var(--radius);
}
button.button:focus-visible,
button.button:active {
  background-color: var(--charcoal-gray);
  color: var(--soft-white);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--charcoal-gray);
    color: var(--soft-white);
  }
}

@media screen and (min-width: 26em) {
  .form {
    padding: 1rem 2rem;
  }
}
